/* Her er css for egne klasser */


/* Nav Bar Styles 
.navbar-brand {
  display: inline-block;
}
*/


/* Header Styles */
.header-link{
  color:white;
  text-decoration: none; 
  display:block;
}
.header-align {
  text-align: center;
}
.header-link:hover {
  color:grey;
}

.row-margin{
  margin-bottom: -20px;
}
.container { 
  position: right; 
  display: flex; 
  flex-wrap: wrap;
  flex-shrink: 3;
}


/* Card Styles */
.card-text {
  color:white;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-family: Tahoma, sans-serif;
  border: 0ch;
}

.card {
  background: #202020;
  display: flex;
  padding: 30px;
}

/* Img/pdf styles*/
.img-round {
  border-radius: 50%;
  width: 27%;
  height: 27%;
}

.img-icon {
  width: 48px;
  height: 48px;
}

.pdf-style {
  border: none;
  width: 640px;
  padding-right: 4%;
  margin-left: 20%;
}

.img-container {
  position: relative;
  width: 50%;
}

.pdf-img {
  display: inline;
  width: 307px;
  height: 240px;
  float: center;
  object-fit: contain;
}
.link-img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration: none;
}
.link-img:hover{
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 40%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.img-container:hover .overlay {
  opacity: 1;
}