/* Her er css for rene tagger*/
body {
  background: rgb(20,20,20);
  background: radial-gradient(90deg, rgba(25,25,25,1) 50%, rgba(34,34,34,1) 100%);
  font-family: Tahoma, sans-serif;
  padding: 50px;
  margin: auto 10px;
  width: auto;
  height: 2000px;
  color: white;
}

p {
  color: white;
  font-size: 16px;
  letter-spacing: 0.8px;
}

a{
  margin-left: 12px;
}

nav{
  white-space: nowrap;
}
.row-margin{
  margin-bottom: -20px;
}