ul li span {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.container { position: right; display: inline-block; }
.button { padding: 0; width: 50px; border: 0; background-color: #fff; color: #333; cursor: pointer; outline: 0; font-size: 40px; }
.dropdownKnapp{
  float: right;
  padding-right: 20px;
  padding-top: 0px;
}
.titel{
  padding-left: 10px;
}
